* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 2px;
}

body {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(32, 255, 0, 0.18),
    rgb(117, 221, 79)
  );
}

.show-modal-btn {
  margin-top: 6%;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 30px;
  background-color: rgb(218, 23, 46);
  color: rgb(233, 223, 223);
  border-radius: 40px;
  cursor: pointer;
}

#md {
  position: absolute;
  top: 35%;
  left: 11.4%;
  width: 70%;
  background-color: white;
  padding: 30px 50px;
  box-shadow: 0 3rem 5rem rgba(19, 19, 19, 0.3);
  z-index: 5;
}

#close-btn {
  position: absolute;
  right: 2%;
  top: 4%;
  cursor: pointer;
  font-size: 42px;
  color: red;
}

#md-title {
  font-size: 20px;
  margin-bottom: 15px;
}

#md-body {
  font-size: 20px;
  text-align: justify;
}

#overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #222222bf;
}

.hidden {
  display: none;
}
