html {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin: 0;
  padding: 0;
}

body {
  width: 1200px;
  margin: 0px auto;
  text-align: center;
}

.theme-dark {
  background-color: #222;
  color: blanchedalmond;
}

.theme-bright {
  background-color: whitesmoke;
  color: #222;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 80px;
}

.player-title {
  font-size: 35px;
}

.player {
  margin-top: 40px;
  padding: 50px 0 50px 0;
  display: inline-block;
  width: 550px;
  border-radius: 4px;
  /* background-color: #6092f0; */
  background-color: #292e37;
}

.player-2 {
  margin: -11px;
}

.active-player {
  background-color: #161b24;
}

.hold {
  font-size: 100px;
}

.current {
  /* background-color: #3879f2; */
  background-color: #02060d3b;
  width: 256px;
  margin: 85px auto 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 15px;
}

.current-title {
  text-transform: uppercase;
}

.current-score {
  font-size: 40px;
}

.btn {
  border: 0;
  width: 250px;
  padding: 13px 25px;
  font-size: 20px;
  text-transform: uppercase;
  color: antiquewhite;
  cursor: pointer;
}

.btn-roll {
  background-color: #0ac416a1;
}

.btn-hold {
  background-color: #5e41c4;
}

.btn-newgame {
  background-color: #f04545;
}

img {
  width: 85px;
  position: absolute;
  left: 47%;
  top: 42%;
}
